<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Information - Ecommerce Tailwind</title>

    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header -->
    <header class="py-4 shadow-sm bg-white">
        <div class="container flex items-center justify-between">
            <a href="/api/v1">
                <img src="/static/images/logo.svg" alt="Logo" class="w-32">
            </a>

            <div class="w-full max-w-xl">
                <div class="relative flex">
                <span class="absolute left-4 top-3 text-lg text-gray-400">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="text" name="search" id="search"
                    class="search w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none"
                    placeholder="search">
                <button
                    class="bg-primary border border-primary text-white px-8 rounded-r-md hover:bg-transparent hover:text-primary transition">Search</button>
                </div>
                <div class='absolute mt-2 w-full max-w-xl overflow-hidden rounded-md bg-white' id="result_content"> 
                </div> 
            </div>

            <div class="flex items-center space-x-4">
                <a href="#" class="text-center text-gray-700 hover:text-primary transition relative">
                    <div class="text-2xl">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="text-xs leading-3">Wishlist</div>
                    <div
                        class="absolute right-0 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
                        8</div>
                </a>
                <a href="/api/v1/user/cart" class="text-center text-gray-700 hover:text-primary transition relative">
                    <div class="text-2xl">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                    <div class="text-xs leading-3">Cart</div>
                    <div
                        class="absolute -right-3 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
                        <% if(typeof sum_cart !== 'undefined'){ %> <% if(sum_cart.length > 0){%><%= sum_cart[0].cartdetail.length%><%} else{%>0<%}%>  <%} else {%> 0 <%}%></div>
                </a>
                <a href="/api/v1/user/profile" class="text-center text-gray-700 hover:text-primary transition relative">
                    <div class="text-2xl">
                        <i class="fa-regular fa-user"></i>
                    </div>
                    <div class="text-xs leading-3">Account</div>
                </a>
            </div>
        </div>
    </header>
    <!-- ./header -->

    <!-- navbar -->
    <nav class="bg-gray-800">
        <div class="container flex">
            <div class="px-8 py-4 bg-primary flex items-center cursor-pointer relative group">
              <span class="capitalize ml-2 text-white">RAFCART</span>
            </div>

            <div class="flex items-center justify-between flex-grow pl-12">
                <div class="flex items-center space-x-6 capitalize">
                    <a href="/api/v1" class="text-gray-200 hover:text-white transition">Home</a>
                    <a href="/api/v1/shop" class="text-gray-200 hover:text-white transition">Shop</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">About us</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">Contact us</a>
                </div>
                <div class="text-gray-200 hover:text-white transition"><a href="/api/v1/guest/logout">Logout</a></div>
            </div>
        </div>
    </nav>
    <!-- ./navbar -->

    <!-- breadcrumb -->
    <div class="container py-4 flex items-center gap-3">
        <a href="/api/v1" class="text-primary text-base">
            <i class="fa-solid fa-house"></i>
        </a>
        <span class="text-sm text-gray-400">
            <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p class="text-gray-600 font-medium">Order detail</p>
    </div>
    <!-- ./breadcrumb -->

        <!-- ./sidebar -->

        <!-- info -->
        <main class="max-w-2xl mx-auto pt-8 pb-24 sm:pt-16 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="px-4 space-y-2 sm:px-0 sm:flex sm:items-baseline sm:justify-between sm:space-y-0">
              <div class="flex sm:items-baseline sm:space-x-4">
                <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">Order #<%= order[0].id.slice(0,8).toUpperCase()%></h1>
                <a href="/api/v1/user/order_history" class="hidden text-sm font-medium text-indigo-600 hover:text-indigo-500 sm:block">View orders<span aria-hidden="true"> &rarr;</span></a>
              </div>
              <p class="text-sm text-gray-600">Order placed <time datetime="2021-03-22" class="font-medium text-gray-900">March 22, 2021</time></p>
              <a href="#" class="text-sm font-medium text-indigo-600 hover:text-indigo-500 sm:hidden">View invoice<span aria-hidden="true"> &rarr;</span></a>
            </div>
        
            <!-- Products -->
            <section aria-labelledby="products-heading" class="mt-6">
              <h2 id="products-heading" class="sr-only">Products purchased</h2>
        
              <div class="space-y-8">
                <% order.forEach(function(orders){ %>
                <div class="bg-white border-t border-b border-gray-200 shadow-sm sm:border sm:rounded-lg">
                  <div class="py-6 px-4 sm:px-6 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:p-8">
                    <div class="sm:flex lg:col-span-7">
                      <div class="flex-shrink-0 w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden sm:aspect-none sm:w-40 sm:h-40">
                        <img src="https://drive.google.com/uc?export=view&id=<%= orders.image_product.Image%>" alt="Insulated bottle with white base and black snap lid." class="w-full h-full object-center object-cover sm:w-full sm:h-full">
                      </div>
        
                      <div class="mt-6 sm:mt-0 sm:ml-6">
                        <h3 class="text-base font-medium text-gray-900">
                          <a href="/api/v1/user/order_deatail/<%= orders.product_id%>"><%= orders.orderitemdetail.Product_name%></a>
                        </h3>
                        <p class="mt-2 text-sm font-medium text-gray-900">$<%= orders.orderitemdetail.Price%></p>
                      </div>
                    </div>
        
                    <div class="mt-6 lg:mt-0 lg:col-span-5">
                      <dl class="grid grid-cols-2 gap-x-6 text-sm">
                        <div>
                          <dt class="font-medium text-gray-900">Delivery address</dt>
                          <dd class="mt-3 text-gray-500">
                            <span class="block"><%= orders.userdetail.address%></span>
                          </dd>
                        </div>
                        <div>
                          <dt class="font-medium text-gray-900">Shipping updates</dt>
                          <dd class="mt-3 text-gray-500 space-y-3">
                            <p><%= orders.userdetail.email%></p>
                            <p><%= orders.userdetail.phone%></p>
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>
        
                  <% if(orders.Status === "Đang xử lý"){ %>
                  <div class="border-t border-gray-200 py-6 px-4 sm:px-6 lg:p-8">
                    <h4 class="sr-only">Status</h4>
                    <div class="mt-6" aria-hidden="true">
                      <div class="bg-gray-200 rounded-full overflow-hidden">
                        <div class="h-2 bg-indigo-600 rounded-full" style="width: calc((1 * 2 + 1) / 8 * 100%)"></div>
                      </div>
                      <div class="hidden sm:grid grid-cols-4 text-sm font-medium text-gray-600 mt-6">
                        <div class="text-indigo-600">Order placed</div>
                        <div class="text-center text-indigo-600">Processing</div>
                        <div class="text-center">Shipped</div>
                        <div class="text-right">Delivered</div>
                      </div>
                    </div>
                  </div>
                  <%} else if(orders.Status === "Đang vận chuyển"){%>
                    <div class="border-t border-gray-200 py-6 px-4 sm:px-6 lg:p-8">
                        <h4 class="sr-only">Status</h4>
                        <p class="text-sm font-medium text-gray-900">Delivery time <time datetime="2021-03-24"><%= `${format(new Date(orders.Delivery_at), 'MMMM dd, yyyy')}`%></time></p>
                        <div class="mt-6" aria-hidden="true">
                          <div class="bg-gray-200 rounded-full overflow-hidden">
                            <div class="h-2 bg-indigo-600 rounded-full" style="width: calc((1 * 2 + 3) / 8 * 100%)"></div>
                          </div>
                          <div class="hidden sm:grid grid-cols-4 text-sm font-medium text-gray-600 mt-6">
                            <div class="text-indigo-600">Order placed</div>
                            <div class="text-center text-indigo-600">Processing</div>
                            <div class="text-center">Shipped</div>
                            <div class="text-right">Delivered</div>
                          </div>
                        </div>
                      </div>
                    <%} else if(orders.Status === "Hủy"){%>
                        <div class="border-t border-gray-200 py-6 px-4 sm:px-6 lg:p-8">
                            <h4 class="sr-only">Status</h4>
                            <div class="mt-6" aria-hidden="true">
                              <div class="bg-gray-200 rounded-full overflow-hidden">
                                <div class="h-2 bg-indigo-600 rounded-full" style="width: calc((0) / 8 * 100%)"></div>
                              </div>
                              <div class="hidden sm:grid grid-cols-4 text-sm font-medium text-gray-600 mt-6">
                                <div class="text-indigo-600">Order placed</div>
                                <div class="text-center text-indigo-600">Processing</div>
                                <div class="text-center">Shipped</div>
                                <div class="text-right">Delivered</div>
                              </div>
                            </div>
                          </div>
                    <%} else if(orders.Status === "Đã nhận hàng"){%>
                        <div class="border-t border-gray-200 py-6 px-4 sm:px-6 lg:p-8">
                            <h4 class="sr-only">Status</h4>
                            <div class="mt-6" aria-hidden="true">
                              <div class="bg-gray-200 rounded-full overflow-hidden">
                                <div class="h-2 bg-indigo-600 rounded-full" style="width: calc((1 * 2 + 7) / 8 * 100%)"></div>
                              </div>
                              <div class="hidden sm:grid grid-cols-4 text-sm font-medium text-gray-600 mt-6">
                                <div class="text-indigo-600">Order placed</div>
                                <div class="text-center text-indigo-600">Processing</div>
                                <div class="text-center">Shipped</div>
                                <div class="text-right">Delivered</div>
                              </div>
                            </div>
                          </div>
                        <%}%>
                </div>
                <% })  %>
                <!-- More products... -->
              </div>
            </section>
        
            <!-- Billing -->
            <section aria-labelledby="summary-heading" class="mt-16">
              <h2 id="summary-heading" class="sr-only">Billing Summary</h2>
        
              <div class="bg-gray-100 py-6 px-4 sm:px-6 sm:rounded-lg lg:px-8 lg:py-8 lg:grid lg:grid-cols-12 lg:gap-x-8">
                <dl class="grid grid-cols-2 gap-6 text-sm sm:grid-cols-2 md:gap-x-8 lg:col-span-7">
                  <div>
                    <dt class="font-medium text-gray-900">Billing address</dt>
                    <dd class="mt-3 text-gray-500">
                      <span class="block"><%= order[0].userdetail.address%></span>

                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium text-gray-900"></dt>
                    <div class="mt-3">
                      <dd class="-ml-4 -mt-4 flex flex-wrap">
                        <div class="ml-4 mt-4 flex-shrink-0">
                          <!-- <svg aria-hidden="true" width="36" height="24" viewBox="0 0 36 24" xmlns="http://www.w3.org/2000/svg" class="h-6 w-auto">
                            <rect width="36" height="24" rx="4" fill="#224DBA" />
                            <path d="M10.925 15.673H8.874l-1.538-6c-.073-.276-.228-.52-.456-.635A6.575 6.575 0 005 8.403v-.231h3.304c.456 0 .798.347.855.75l.798 4.328 2.05-5.078h1.994l-3.076 7.5zm4.216 0h-1.937L14.8 8.172h1.937l-1.595 7.5zm4.101-5.422c.057-.404.399-.635.798-.635a3.54 3.54 0 011.88.346l.342-1.615A4.808 4.808 0 0020.496 8c-1.88 0-3.248 1.039-3.248 2.481 0 1.097.969 1.673 1.653 2.02.74.346 1.025.577.968.923 0 .519-.57.75-1.139.75a4.795 4.795 0 01-1.994-.462l-.342 1.616a5.48 5.48 0 002.108.404c2.108.057 3.418-.981 3.418-2.539 0-1.962-2.678-2.077-2.678-2.942zm9.457 5.422L27.16 8.172h-1.652a.858.858 0 00-.798.577l-2.848 6.924h1.994l.398-1.096h2.45l.228 1.096h1.766zm-2.905-5.482l.57 2.827h-1.596l1.026-2.827z" fill="#fff" />
                          </svg> -->
                          <p class="sr-only"></p>
                        </div>
                        <div class="ml-4 mt-4">
                          <p class="text-gray-900"></p>
                          <p class="text-gray-600"></p>
                        </div>
                      </dd>
                    </div>
                  </div>
                </dl>
        
                <dl class="mt-8 divide-y divide-gray-200 text-sm lg:mt-0 lg:col-span-5">
                  <div class="pb-4 flex items-center justify-between">
                    <dt class="text-gray-600">Subtotal</dt>
                    <dd class="font-medium text-gray-900">$<%= (sum * -1) + order[0].Total %></dd>
                  </div>
                  <% if(sum < 0){ %>
                  <div class="py-4 flex items-center justify-between">
                    <dt class="text-gray-600">Coupon</dt>
                    <dd class="font-medium text-gray-900">- $<%= (sum * -1) %></dd>
                  </div>
                  <%}%>
                  <div class="pt-4 flex items-center justify-between">
                    <dt class="font-medium text-gray-900">Order total</dt>
                    <dd class="font-medium text-indigo-600">$<%= order[0].Total%></dd>
                  </div>
                </dl>
              </div>
            </section>
          </main>
  
  
        <!-- ./info -->

    <!-- ./wrapper -->

    <!-- footer -->
    <footer class="bg-white pt-16 pb-12 border-t border-gray-100">
        <div class="container grid grid-cols-3">
            <div class="col-span-1 space-y-8 mr-2">
                <img src="/static/images/logo.svg" alt="logo" class="w-30">
                <div class="mr-2">
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, hic?
                    </p>
                </div>
                <div class="flex space-x-6">
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-facebook-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-instagram-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500"><i
                            class="fa-brands fa-twitter-square"></i></a>
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <i class="fa-brands fa-github-square"></i>
                    </a>
                </div>
            </div>

            <div class="col-span-2 grid grid-cols-2 gap-8">
                <div class="grid grid-cols-2 gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Solutions</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Marketing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Analitycs</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Commerce</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Insights</a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Support</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Pricing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Documentation</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Guides</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">API Status</a>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Solutions</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Marketing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Analitycs</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Commerce</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Insights</a>
                        </div>
                    </div>

                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Support</h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Pricing</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Documentation</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Guides</a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">API Status</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ./footer -->

    <!-- copyright -->
    <div class="bg-gray-800 py-4">
        <div class="container flex items-center justify-between">
            <p class="text-white">&copy; TailCommerce - All Right Reserved</p>
            <div>
                <img src="/static/images/methods.png" alt="methods" class="h-5">
            </div>
        </div>
    </div>
    <!-- ./copyright -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.3.x/dist/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/search.js" type="text/javascript"></script>
    <script>
        $(".cancel_order").on("click", function(){
            $.ajax({
                url: "/api/v1/user/order_history",
                type: "post",
                data: {order_id: $(this).attr("order_id")},
                dataType: 'json',
                success: function(resp){
                    if(resp.statusCode === 200){
                        window.location.href = "/api/v1/user/order_history";
                    }
                }
            })
        });
    </script>
</body>

</html>